body {
  background-color: white;
}

div.header_wrapper img {
  width: 71px;
  height: 50px;
  float: left;
  margin-top: 8px;
}

#heading {
  font-size: 30px;
  margin: 8px;
}

#tracking{
  font-size: 18px;
  color: black;
  margin: 8px;
}

#tracking span {
  margin-right: 40px;
}

#logged_user {
  font-size: 18px;
  color: gray;
  margin: 8px;
}

.card{
  max-width: 300px;
  max-height: 600px;
  text-align: center;
  border: 4px groove #18608F!important;
  border-radius: 12px!important;
}

.allyCard{
  background-color: #5BD999!important;
}

.enemyCard{
  background-color: #ff6961!important;
}

.card p{
  text-align: justify;
  margin:10px;
  color: white;
}


.card img{
  width:100%;
  max-height:125px;
  border-radius: 3px;
  border: 1px groove #18608F;
  margin-top:10px;
  margin-bottom:10px;

}

.allyCard .card-power-text{
  background-color: #54ba86;
  border-top: 2px groove #18608F;
  padding-top:10px;
  padding-bottom:10px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius:12px;
  text-align: justify;
}

.enemyCard .card-power-text{
  background-color: #c23b22;
  border-top: 2px groove #18608F;
  padding-top:10px;
  padding-bottom:10px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius:12px;
  text-align: justify;
}

.card-number{
font-size: 30px;
}
.card-name{
padding-top:5px;
font-size: 20px;
border-radius: 3px;
border: 1px groove #18608F;
}
.card-power{
font-size: 30px;
}

.allyRow{
  padding:10px;
  background-color: #5BD999;
  min-height:415px;
}
.enemyRow{
  min-height:415px;
  padding:10px;
  background-color: #ff6961;
}

.enemyPic{
  width:70%;
  top:50%;
}

.avatarArea{
  background-color: #003366;
  margin-left: 15px;
  padding:10px;
  color: white;
  border-radius: 5px;
  text-align: center;
  border: 1px groove white;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.1em;
}

.avatarText{
  background-color: #87ceeb;
  text-align: left;
  margin-top: 5px;
  height: 100%;
  padding: 8px;
}

.avatarText p{
  margin:3px;
}

.downloadArea{
  margin: 10px;
}
.downloadArea img{
  height: 75%;
}

.moneyText{
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.4em;
}

.moneyText p{
  margin: 0px;
}

.money{
  margin: 0px;
  font-size: 1.8em;
  color: greenyellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  
}

.ribbonArea img{
  width: 100%;
  padding: 10px;
}
.grey{
  filter: grayscale(100%);
}

.grey_opacity{
  filter: grayscale(100%);
  opacity: 0.4;
}

.deleted{
  filter: grayscale(100%);
  opacity: 0.4;
}
.menuArea{
  padding: 0px;
}

.speech-bubble {
	position: relative;
  background: #bb244a;
  border: 1px groove white;
  border-radius: .4em;
  color: white;
  height: 90%;
  padding: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 33px solid transparent;
	border-right-color: white;
	border-left: 0;
	border-top: 0;
	margin-top: -16.5px;
	margin-left: -33px;
}
.modalBody img{
 width: 60%;
 align-items: center;
}
.modalBody p{
  text-align: justify;
}

.shopFooter{
  justify-content: flex-start!important;
  text-align: left;
}

.clickable{
  cursor: pointer;
}

.shop img{
  padding: 15px;
  width: 65%;
}
.shopItem{
  margin: 5px;
}

.currentPowerUp{
  background-color: greenyellow;
  border-radius: 3px;
  border: 3px groove #18608F;
  padding: 5px;
}
.currentPowerUp p{
  margin: 0px;
}

.currentPowerUp img{
  width: 30px;
}

.feedback p{
  color: white;
}